<mat-toolbar color="primary" class="mat-elevation-z6">
  <a
    mat-button
    aria-hidden="true"
    aria-label="Inicio"
    routerLink="/bp"
    title="Inicio"
  >
    <span class="mat-button-wrapper">
      <img
        src="https://img.icons8.com/nolan/28/loading-sign.png"
        style="margin: 0 5px 0 0"
      />
      BP
    </span>
  </a>

  <a mat-button routerLink="/opp">Oportunities</a>
  <div class="container-searchbox"></div>
  <a *ngIf="!isAuth" mat-button href="http://169.57.42.77:31064/auth/login"
    >Ingresar</a
  >
  <a *ngIf="isAuth" mat-button href="http://169.57.42.77:31064/auth/logout"
    >Salir</a
  >
</mat-toolbar>
